@tailwind base;
@tailwind components;
@tailwind utilities;


/* Desktop view (landscape orientation) */
@media (min-width: 768px) and (orientation: landscape) {
  .landscape {
    display: block; /* Show landscape image */
  }
}

/* Mobile portrait view */
@media (max-width: 767px) and (orientation: portrait) {
  .portrait {
    display: block; /* Show portrait image */
  }
}

/* Mobile landscape view */
@media (max-width: 767px) and (orientation: landscape) {
  .landscape {
    display: block; /* Show landscape image */
  }
}
